.navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #172a3a;
  padding-top: 20px;
}

.navigation__link {
  align-items: center;
  filter: drop-shadow(5px 5px 4px #004346);
}
