<nav class="navigation">
  <a class="navigation__link" href="#home"
    ><img
      src="../styles/images/home-solid.svg"
      width="50"
      height="50"
      alt="home"
      class=""
  /></a>

  <a class="navigation__link" href="#bookmark"
    ><img
      src="../styles/images/bookmark-solid.svg"
      width="50"
      height="50"
      alt="bookmarks"
      class=""
  /></a>

  <a class="navigation__link" href="#create"
    ><img
      src="../styles/images/plus-square-solid.svg"
      width="50"
      height="50"
      alt="create"
      class=""
  /></a>

  <a class="navigation__link" href="#settings"
    ><img
      src="../styles/images/cogs-solid.svg"
      width="50"
      height="50"
      alt="settings"
      class=""
  /></a>
</nav>
