<section class="card">
  <a class="card__bookmark" href="#bookmark"
    ><img
      src="../styles/images/bookmark-solid.svg"
      width="30px"
      height="30px"
      alt="bookmarks"
      class=""
  /></a>
  <h2>Question</h2>
  <details>
    <summary>Show answer</summary>
    Insert answer here<br />
    <button>Tag 1</button>
    <button>Tag 2</button>
    <button>Tag 3</button>
    <button>Tag 4</button>
  </details>
</section>

<section class="card">
  <a class="link_bookmark" href="#bookmark"
    ><img
      src="../styles/images/bookmark-solid.svg"
      width="30px"
      height="30px"
      alt="bookmarks"
      class=""
  /></a>
  <h2>Question</h2>
  <details>
    <summary>Show answer</summary>
    Insert answer here<br />
    <button>Tag 1</button>
    <button>Tag 2</button>
    <button>Tag 3</button>
    <button>Tag 4</button>
  </details>
</section>

<section class="card">
  <a class="link_bookmark" href="#bookmark"
    ><img
      src="../styles/images/bookmark-solid.svg"
      width="30px"
      height="30px"
      alt="bookmarks"
      class=""
  /></a>
  <h2>Question</h2>
  <details>
    <summary>Show answer</summary>
    Insert answer here<br />
    <button>Tag 1</button>
    <button>Tag 2</button>
    <button>Tag 3</button>
    <button>Tag 4</button>
  </details>
</section>
