.app-grid {
  display: grid;
  grid-template-rows: 100px auto 100px;
  height: 100vh;
}

.app-grid__header {
  text-align: center;
  background-color: #172a3a;
}

.app-grid__main {
  background-color: #508991;
  overflow-y: scroll;
}

.hidden {
  display: none !important;
}
